
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    background-color: #2e2e2e;
}

.logo{
    width: 9rem;
}

.logo-titulo{
    color: white;
}
.link-n{
    font-size: 1.6rem;
    color: gray;
    text-decoration: none;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.link-n:hover{
    
    color: aliceblue;
}

.opacidad-carousel{
    filter: brightness(50%);
}

.color-gradiente{
    /* fallback for old browsers */
    background: #265d8c;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(38,93,140), rgba(41,181,188));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(38,93,140), rgba(41,181,188))
}

.claseCompletar{
    border-color: rgb(247, 173, 173);
}