
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    background-color: #413F3E;
}

.logo{
    width: 9rem;
}

.logo-titulo{
    color: white;
}
.nav-item{
    color: white;
    font-size: 1.5rem;
}

.color-gradiente{
    /* fallback for old browsers */
    background: #265d8c;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(38,93,140), rgba(41,181,188));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(38,93,140), rgba(41,181,188))
}

.contenedor{
    width: 100vw;
    display: flex;
}

.col{
    margin: 0;
}

